<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">Academic Info UBB</a>
    </div>
</div>

<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome!</h1>
        <h2>Facultatea de Matematica-Informatica</h2>
    </div>
    <hr>

    <div class="jumbotron text-center" style="height:700px">

        <div class="col-lg-4 col-md-4 col-sm-4 text-left">

            <form name="LogIn">
                <label>
                    <p>User:</p>
                    <input type="text" name="user" ng-model="user" style="height:50px">
                </label>
                <br />
                <label>


                    <p>Password:</p>
                    <input type="password" name="password" ng-model="password" style="height:50px">
                </label>
                <br />
                <br />
            </form>


            <div class="col-lg-10 text-center" style="padding-left:0px">
                <button class="btn btn-primary col-lg-10" ng-click=""
                        style="height:60px">
                    Sign In
                </button>
            </div>

            <br />

        </div>
    </div>



