<div class="container">
    <div class="jumbotron text-center">
        <h1>{{Nume}}</h1>
        <p class="lead">{{Cadru}}</p>
        <h3>Student</h3>
    </div>

    <div class="container" style="background-color:#eee;width:99%;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                
            </div>
            <div style="padding-left:0px">
                <br />
                <h1>Courses <span class="glyphicon glyphicon-king"></span></h1>
                <br />
                <br />

                <select ng-options="semester.name for semester in semesters"
                        ng-model="selectedSemester"
                        class="btn btn-toolbar col-lg-6 col-md-6 col-sm-6"
                        style="height:50px">
                    <option value="">Select semester...</option>
                </select>
                <table class="table">
                    <thead >
                        <tr >
                            <th style="text-align:center">Line of study</th>
                            <th style="text-align:center">Course</th>
                            <th style="text-align:center">Course Id</th>
                            <th style="text-align:center">Grade</th>
                            <th style="text-align:center">Number of Credits</th>
                            <th style="text-align:center">Promotion Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list" class="info" ng-model="item" ng-if="item.semester == selectedSemester.id || !selectedSemester">
                            <td>{{item.line_of_study}}</td>
                            <td>{{item.course}}</td>
                            <td>{{item.courseId}}</td>
                            <td>{{item.grade}}</td>
                            <td>{{item.nrCredits}}</td>
                            <td>{{item.promovationDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 text-left">
                <div ><a class="btn btn-info" style="color:black;" href="#/Student/Contract"><b>Contracts </b></a></div>
            </div>
            <br />
            <br />
            <br />
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
