<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">Academic Info UBB</a>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center" style="height:200px;width:300px">
        <div class="col-lg-12 text-center" style="padding-left:0px">
            <button class="btn btn-primary col-lg-9" ng-click="onClickOptional()">SIGN IN</button>
        </div>
        <br />
        <br />
        <br />
        <div class="col-lg-12 text-center" style="padding-left:0px">
            <button class="btn btn-primary col-lg-9" ng-click="onClickOptional()">REGISTER</button>
        </div>
    </div>
</div>