<div class="container">
    <div class="jumbotron">
        <a href="http://cs.ubbcluj.ro">
            <img style="max-height:300px;max-width:800px;padding-left:150px" src="../../Images/logo_ubb_albastru.png" />
        </a>
    </div>
    <hr>
    <div class="container" style="background-color:#eee;width:99%;padding-left:100px">
        <div class="">
            <br />
            <br />

            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-7" >
                <a class="btn btn-primary col-lg-10 col-md-10 col-sm-10" href="#/LogIn">
                    SIGN IN
                </a>
                <br />
                <br />
                <br />

                <div ng-if="username != null && username != undefined && (currentUser.role == 0 || currentUser.role == 1)">
                    <a class="btn btn-primary col-lg-10 col-md-10 col-sm-10" href="#/Chief">CHIEF OF DEPARTMENT</a>
                    <br />
                    <br />
                    <br />
                </div>

                <div ng-if="username != null && username != undefined && (currentUser.role == 0 || currentUser.role == 2)">
                    <a class="btn btn-primary col-lg-10 col-md-10 col-sm-10" href="#/Register">REGISTER USER</a>
                    <br />
                    <br />
                    <br />
                </div>
                <div ng-if="username != null && username != undefined && (currentUser.role == 0 || currentUser.role == 2)">
                    <a class="btn btn-primary col-lg-10 col-md-10 col-sm-10" href="#/Teacher">TEACHER</a>
                    <br />
                    <br />
                    <br />
                </div>

                <div ng-if="username != null && username != undefined && (currentUser.role == 0 || currentUser.role == 3)">
                    <a class="btn btn-primary col-lg-10 col-md-10 col-sm-10" href="#/Student">STUDENT</a>
                    <br />
                    <br />
                    <br />  
                </div>

            </div>
        </div>
    </div> 
</div>