<!DOCTYPE html>
<html ng-app="softwareEngeneering" ng-controller="AppCtrl">
<head>
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-image: url('Images/web-page-backgrounds-1-widescreen-hd-background-and-wallpaper.jpg');">
    <div class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Academic Info UBB</a>
            <div class="text-right" style="padding-top:10px" ng-if="username != undefined && username != null">
                <b> Logged as : <span class="glyphicon glyphicon-user"></span> {{username}} </b> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-info" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>

    <div ng-view="">
    </div>
</body>
</html>

<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/lodash.min.js"></script>
<script src="Scripts/restangular.min.js"></script>
<script src="Scripts/angular-cookies.js"></script>
<script src="Scripts/angular-resource.js"></script>
<script src="Scripts/ngStorage.js"></script>

<script type="text/javascript" src="Scripts/angular-ui/ui-bootstrap.js"></script>
<script type="text/javascript" src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

<script src="app/app.js"></script>
<script src="app/configs.js"></script>

<script src="app/homepage/homepage.js"></script>
<script src="app/homepage/factory/homepageFactory.js"></script>

<script src="app/chiefOfDepartment/chiefOfDepartment.js"></script>
<script src="app/chiefOfDepartment/factory/chiefFactory.js"></script>

<script src="app/teacher/teacher.js"></script>
<script src="app/teacher/factory/teacherFactory.js"></script>

<script src="app/register/register.js"></script>
<script src="app/register/factory/registerFactory.js"></script>

<script src="app/login/login.js"></script>
<script src="app/login/factory/loginFactory.js"></script>

<script src="app/student/student.js"></script>
<script src="app/student/factory/studentFactory.js"></script>
