body {
    background-image: url('../Images/blue_technology_abstract_circuitry_lines_hd-wallpaper-1797823.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.colorGreen {
    color:green;
}


.colorRed {
    color:red;
}