<div class="container">
    <div class="jumbotron text-center">
        <h1>{{Nume}}</h1>
        <p class="lead">{{Cadru}}</p>
        <h3>Teacher</h3>
    </div>

    <div class="container" style="background-color:#eee;width:99%;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="col-lg-12 col-md-12 col-sm-12">

            </div>
            <div style="padding-left:0px">
                <br />
                <h1><span class="glyphicons glyphicons-group"></span> Students</h1>
                <br />
                <br />
                <div style="width:400px">
                    <select class="btn btn-toolbar col-lg-9" ng-options="course.id as course.name for course in courses"
                            ng-model="selectedCourse"
                            ng-change="onChangeCourse()">
                        <option value="">Select course...</option>
                    </select>
                </div>

                <!--
                <div style="width:400px">
                    <select class="btn btn-toolbar col-lg-9" ng-options="group.id as group.number for group in groups"
                            ng-model="selectedGroup"
                            ng-change="onChangeGroup()">
                        <option value="">Select group...</option>
                    </select>
                </div>
                    -->
                
                <table class="table">
                    <thead>
                        <tr><th style="text-align:center">Id</th>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Group</th>
                            <th style="text-align:center">Email</th>
                            <th style="text-align:center">Grade</th>
                            <th style="text-align:center">Promovation Date</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in studentsCourse" class="info">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.group}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.grade}}</td>
                            <td>{{item.promovation_date}}</td>
                          
                                                      
                        </tr>
                    </tbody>
                </table>
            </div>
           

            <br />
        
        

            <form name="form" class="">
                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">

                   

                    <p>Student ID:</p>
                    <input type="text" name="studId" ng-model="studentId" class="form-control"
                           ng-minlength="1" ng-maxlength="10" style="width:100px">
                    <div role="alert">
                        <span class="error" ng-show="form.studentId.$error.minlength">
                            Too short!
                        </span>
                        <span class="error" ng-show="form.studentId.$error.maxlength">
                            Too long!
                        </span>
                    </div>
                   
            </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">

                    <p>Grade:</p>
                    <input type="text" name="gr" ng-model="grade" class="form-control"
                           ng-minlength="1" ng-maxlength="3" style="width:100px">
                    <div role="alert">
                        <span class="error" ng-show="form.grade.$error.minlength">
                            Too short!
                        </span>
                        <span class="error" ng-show="form.grade.$error.maxlength">
                            Too long!
                        </span>
                    </div>
                    <br />

                  </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">

                    <br />
               
                   

                    <a class="btn btn-info" style="color: black; width: 100px" ng-click="addGradeForStudent()"><b>Add Grade</b></a>
                    <div ng-if="successfullyProposed" class="colorGreen">Adding Grade Succesfully!</div>
                    <br />
                    <br />


             

                </div>
                <br />
            </form>



            <form name="form2" class="">
                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">



                    <p>Student ID:</p>
                    <input type="text" name="studId" ng-model="studentId2" class="form-control"
                           ng-minlength="1" ng-maxlength="10" style="width:100px">
                    <div role="alert">
                        <span class="error" ng-show="form2.studentId2.$error.minlength">
                            Too short!
                        </span>
                        <span class="error" ng-show="form2.studentId2.$error.maxlength">
                            Too long!
                        </span>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">

                    <p>Promovation Date:</p>
                    <input type="text" name="da" ng-model="date" class="form-control"
                           ng-minlength="1" ng-maxlength="15" style="width:100px">
                    <div role="alert">
                        <span class="error" ng-show="form2.date.$error.minlength">
                            Too short!
                        </span>
                        <span class="error" ng-show="form2.date.$error.maxlength">
                            Too long!
                        </span>
                    </div>
                    <br />

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-left" style="width:200px">

                    <br />



                    <a class="btn btn-info" style="color: black; width: 100px" ng-click="addPromovationDateForStudent()"><b>Change Promovation Date</b></a>
                    <div ng-if="successfullyChanged" class="colorGreen">Adding Promovation Date Succesfully!</div>
                    <br />
                    <br />




                </div>
                <br />
            </form>



</div>

    </div>
</div>
<br />
<br />
<br />
<br />


