
<div class="container">
    <div class="jumbotron text-center">
        <h1>{{username}}</h1>
        <p class="lead">{{Cadru}}</p>
        <h3>Teacher</h3>
    </div>
    <hr>


    <div class="jumbotron text-center" style="height:800px">

        <div class="col-lg-4 col-md-4 col-sm-4 text-left">
            <form name="form" class="">
                <div class="col-lg-10">
                    <h3>Add New Group</h3>
                    <br />
                    <p>Group Number:</p>
                    <input type="text" name="groupNo" ng-model="number" class="form-control" required>
                    <div role="alert">
                        <span class="error" ng-show="form.number.$error.required">
                            Required!
                        </span>
                    </div>
                    <br />



                    <p>Year:</p>
                    <input type="text" name="year" ng-model="year" class="form-control"
                           ng-minlength="3" ng-maxlength="100">
                    <div role="alert">
                        <span class="error" ng-show="form.year.$error.required">
                            Required!
                        </span>
                    </div>
                    <br />




                    <br />
                    <div class="text-center" style="padding-left:0px">
                        <button class="btn btn-primary col-lg-9" ng-click="AddGroup()">Add Group</button>
                    </div>

                    <br />
                    <br />
                    <br />
                    <div style="padding-left:0px;" class="col-lg-12 col-md-12 col-sm-12 text-left text-nowrap">
                        <b ng-if="optionalSelected" style="color:green;padding-left:0px;">
                            A new group has been added!
                            <br />
                        </b>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>






